web-term, web-browser, source-code
  position absolute
  width 90%
  height 70%

.bespoke-slide
  &.axis.demoit
    web-term, web-browser, source-code
      position absolute
      width 48%
      height 70%
    ul
      li
        font-weight 400

